
/*--------------------------------------------------------------
# econtinuada Page 
--------------------------------------------------------------*/

.econtinuada{
    justify-content: center;
}

.econtinuada p{
    text-align: justify;
}

.econtinuada h2{
    font-size: 48px;
    font-weight: 700;
    color: var(--color-secondary);
    margin-bottom: 50px;
 }

  @media (max-width: 1200px) {

    .econtinuada h2 {
    text-align: center;
    margin: 0 0 60px 0;
    }

  }
  @media (max-width: 375px) {
    .econtinuada-item{
         width: 100%;
    }
    
  }
  
.econtinuada-card{
  margin-bottom: 50px;
}
  
  .econtinuada .econtinuada-item {
    box-shadow: 19px 26px 32px -2px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-bottom: 50px;
    
  }
  

  
  .econtinuada .econtinuada-item .econtinuada-img img {
    transition: 0.5s;
  }
  
  .econtinuada .econtinuada-item .econtinuada-date {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: var(--color-primary);
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    padding: 6px 12px;
    font-weight: 500;
    opacity: 0.8;
    
  }
  
  .econtinuada  .econtinuada-content {
    padding: 30px;
  }

.econtinuada-btn{
  position: absolute;
  bottom: 30px;
  

 }

  .econtinuada .pago-btn {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 16px;
    display: inline-block;
    padding: 8px 28px;
    border-radius: 50px;
    transition: 0.5s;
    margin-top: 10px;
    border: 2px solid var(--color-primary);
    color: var(--color-primary);
    text-decoration: none;
  }
  
  .econtinuada .pago-btn:hover {
    background: var(--color-primary);
    border-color: var(--color-primary);
    color: #fff;
  }
  
  .econtinuada .econtinuada-item .econtinuada-title {
    font-size: 20px;
    color: var(--color-secondary);
    font-weight: 700;
    transition: 0.3s;
    margin-bottom: 15px;
    text-align: center;
    
  }
  
  .econtinuada .econtinuada-item .meta i {
    font-size: 16px;
    color: var(--color-primary);
  }

  .econtinuada .econtinuada-item .meta .bar {
    padding-right: 1rem;
    padding-left: 1rem;
  }

  @media (min-width: 768px){
    .econtinuada .econtinuada-item .meta .bar {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
      }
  }


  
  .econtinuada .econtinuada-item .meta span   {
    font-size: 15px;
    color: #838893;
    
  }

  
  
  .econtinuada .econtinuada-item hr {
    color: #888;
    margin: 20px 0;
  }
  
  .econtinuada .econtinuada-item .readmore {
    display: flex;
    align-items: center;
    font-weight: 600;
    line-height: 1;
    transition: 0.3s;
    color: #838893;
  }
  
  .econtinuada .econtinuada-item .readmore i {
    line-height: 0;
    margin-left: 6px;
    font-size: 16px;
  }
  
  .econtinuada .posecontinuadat-item:hover .econtinuada-title,
  .econtinuada .econtinuada-item:hover .readmore {
    color: var(--color-primary);
  }
  
  .econtinuada .econtinuada-item:hover .econtinuada-img img {
    transform: scale(1.1);
  }

  /*--------------------------------------------------------------
# econtinuada-items
--------------------------------------------------------------*/
.econtinuada .nav-link{
  color: var(--color-secondary);
  padding: 20px 20px;
  font-size: 18px;
  text-align: center;
  background-color: #e6e6e6;
  margin-bottom: 5px;
  
  
}
.econtinuada .nav-link:hover{
  color: #00376c;
  background-color: #e6e6e6;
  
}

.econtinuada .nav-pills .nav-link.active {
  background-color:#00376c;
  color: #fff;
  padding: 20px 20px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  
}

.econtinuada .tab-content{
  height: 100%;
}

.econtinuada .tab-content h3{
  font-weight: 700;
  color: var(--color-secondary);
  margin-bottom: 30px;
}



@media (min-width: 374px) {
  .econtinuada.nav-link, .nav-pills .nav-link.active{
  text-align: center;

}


}











