/*--------------------------------------------------------------
# Investigación Section
--------------------------------------------------------------*/
.investigacion .img {
    border-radius: 8px;
    overflow: hidden;
  }

  .investigacion h2{
    font-size: 48px;
    font-weight: 700;
    color: var(--color-secondary);
    margin-bottom: 50px;
  }

  
  .investigacion .img img {
    transition: 0.6s;
  }
  
  .investigacion .details {
    padding: 50px 10px;
    margin: -100px 10px 0 10px;
    transition: all ease-in-out 0.3s;
    background: #fff;
    position: relative;
    background: rgba(255, 255, 255, 0.9);
    text-align: center;
    border-radius: 8px;
    box-shadow: 0px 0 25px rgba(0,0,0, 0.1);
    height: 400px;
  }

  .investigacion .descripcion{
    padding: 20px 40px;
  }
  
  .investigacion .details .icon {
    margin: 0;
    width: 200px;
    height: 92px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 20px;
    color: var(--color-white);
    font-size: 28px;
    transition: ease-in-out 0.3s;
    position: absolute;
    top: -15px;
    left: calc(50% - 100px);
    border: 6px solid var(--color-white);
  }
  
  .investigacion .details h3 {
    color: var(--color-default);
    font-weight: 700;
    margin: 30px 0 15px 0;
    font-size: 22px;
    transition: ease-in-out 0.3s;
  }
  
  .investigacion .details p {
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
  }
  
  .investigacion .service-item:hover .details h3 {
    color: var(--color-primary);
  }
  

  
  .investigacion .service-item:hover .details .icon i {
    color: var(--color-primary);
  }
  
  .investigacion .service-item:hover .img img {
    transform: scale(1.2);
  }