a {
  text-decoration: none;
}

.blog{
  padding: 168px 0;
}

.blog .posts-list .post-item {
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.06);
    transition: 0.3s;
    border-radius: 20px;
  }
  
  .blog .posts-list .post-img img {
    transition: 0.5s;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }
  
  .blog .posts-list .post-date {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: var(--color-primary);
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    padding: 6px 12px;
    font-weight: 500;
  }
  
  .blog .posts-list .post-content {
    padding: 30px;
  }
  
  .blog .posts-list .post-title {
    font-size: 24px;
    color: var(--color-secondary);
    font-weight: 700;
    transition: 0.3s;
    margin-bottom: 15px;
    cursor: pointer;
  }

  
  .blog .posts-list .meta i {
    font-size: 16px;
    color: var(--color-primary);
  }
  
  .blog .posts-list .meta span {
    font-size: 15px;
    color: #838893;
  }
  
  .blog .posts-list p {
    margin-top: 20px;
  }
  
  .blog .posts-list hr {
    color: #888;
    margin-bottom: 20px;
  }
  
  .blogblog .posts-list .readmore {
    display: flex;
    align-items: center;
    font-weight: 600;
    line-height: 1;
    transition: 0.3s;
    color: #838893;
  
  }
  
  .blog .posts-list .readmore i {
    line-height: 0;
    margin-left: 6px;
    font-size: 16px;
  }
  
  .blog .posts-list .post-item:hover .post-title,
  .blog .posts-list .post-item:hover .readmore {
    color: var(--color-primary);
  }
  
  .blog .posts-list .post-item:hover .post-img img {
    transform: scale(1.1);
  }

  /*--------------------------------------------------------------
# pagination
--------------------------------------------------------------*/
.blog .blog-pagination {
  margin-top: 30px;
  color: #838893;
}

.blog .blog-pagination ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.blog .blog-pagination li {
  margin: 0 5px;
  transition: 0.3s;
}

.blog .blog-pagination li a {
  color: var(--color-secondary);
  padding: 7px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blog .blog-pagination li.active,
.blog .blog-pagination li:hover {
  background: var(--color-primary);
  color: #fff;
}

.New .New-pagination li.active a,
.New .New-pagination li:hover a {
  color: var(--color-white);
}